/**
 * CSS for validation page
 */

.validation-wrapper {
  margin-top: 20px;
}

.validation-panel {
  align-self: center;
  width: 95%;
  max-width: 800px;
  padding: 15px;
}

#val-box {
  min-height: 200px;
  display: flex;
  flex-direction: column;
}

#val-box .generic-submit-button {
  align-self: center;
  margin-top: 10px;
}

input.val-input {
  flex: 1 1 auto;
  margin: 0 0 10px 0;
  padding: 4px 4px;
  border-radius: 3px;
  border: 1px solid #CCC;
}

table {
  margin-top: -10px;
}

tr:nth-child(even) {
  background-color: white;
}

tr {
  margin-top: 12px;
  max-height: 100px;
}

td, th {
  border: none;
}