/**
 * CSS for validation page
 */

.validation-wrapper {
  margin-top: 20px;
}

.validation-panel {
  align-self: center;
  width: 95%;
  max-width: 800px;
  padding: 15px;
}

#val-box {
  min-height: 200px;
  display: flex;
  flex-direction: column;
}

#val-box .generic-submit-button {
  align-self: center;
  margin-top: 10px;
}

.voter-results-panel {
  padding: 0;
  margin-top: 20px;
  align-self: center;
  width: 95%;
  max-width: 800px;
}

input.val-input {
  flex: 1 1 auto;
  margin: 0 0 10px 0;
  padding: 4px 4px;
  border-radius: 3px;
  border: 1px solid #CCC;
}

#voter-search-table, #voter-search-table thead > tr > th {
  text-align: center;
}

#voter-search-table tr > th, #voter-search-table tr > td {
  padding: 10px;
}

td.validated-result, td.invalidation-action, td.validation-action {
  font-size: larger;
}

td .voter-address {
  font-size: larger;
  font-weight: bold;
}

td .voter-name {
  font-size: large;
  font-weight: bold;
}

tr {
  margin-top: 12px;
  max-height: 100px;
}

td, th {
  border: none;
}